/* =====================================================
  Base Layout Styles
======================================================== */
*,
*:after,
*:before {
	box-sizing: border-box;
}
body {
	color:black;
	margin: auto;
	font: 1.125em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper {
	margin: 0 auto;
	max-width: 700px;
 }
a { text-decoration:none; color:black; }

/* ---- Float clearfix ----  */
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ---- Post ----  */
img {
    display: block;
    max-width: 100%;
    font-style: italic;
		margin: 0 auto 16px;
}
.post {
	margin: 20px 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #E9EFF3;
}
.post:hover .post-title{ opacity: 0.5; }
.post-title {
	margin-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
	transition: .4s;
}

@media (min-width: 40em)
.post-title {
    font-size: 19px;
}

/* ---- Nav ----  */

.nav{
	padding: 7px 0;
	border-bottom: 1px solid #E9EFF3;
}
.nav a{
	display: inline-block;
	font-size: 1.3125em;
	padding: 3px;
}

/* ---- footer ----  */

.footer{
	text-align:center;
	margin: 25px 0 10px;
	padding: 5px 0;
	border-top: 1px solid #E9EFF3;
}
.footer a, .icon{
	display: inline-block;
	font-size: 0.9125em;
	padding: 5px 2px;
	margin: 0;
	vertical-align: middle;
}
.footer a:active {text-decoration: underline;}
.iconify { width: 25px; height: 25px; }
.tags {display: inline-block; margin: 10px 4px;}
.tags a{
	display: inline-block;
	padding: 4px 16px;
	margin: 0 8px 4px 0;
	font-size: 12px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	line-height: 25px;
	background-color: #EAEAEA;
	transition: .4s;
}

form { width: 100%; }
.col-1-width{ width: 32.8%; }
input[type="submit"]:hover{ cursor: pointer; }
input, textarea{
  padding: 7px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 5px 0;
	width: 100%;
	font-size: 0.825em
}
input[type="submit"]{
  padding: 7px 10px;
  background-color:#07a7c0;
  color: white;
	width: 20%;
}
.title {
	width: 100%;
	margin: 0 0 5px 0;
	padding: 5px;
	border-bottom: 2px black solid;
}
.post-date {
	font-size: 0.8125em;
	color: gray;
	opacity: 0.75;
	margin: 0;
}
.post-body {
	font-size: 0.9125em;
	opacity: 0.75;
	margin: 7px 0;
	padding-bottom: 10px;
}
.comment{
	width:100%;
	border: 1px dotted #ccc ;
	border-left: 5px solid #ccc;
	padding:10px 15px;
	margin: 10px 0;
	font-size: 0.8125em;
}
.comment h4{ display: inline-block; margin: 0;}
.comment p{ margin: 5px 0; opacity: 0.8;}

.msg{
	width:100%;
	border: 1px solid #fafafa;
	background-color: #2ecc71;
	padding: 10px;
	margin: 7px auto;
}
.alert-danger{background-color: tomato; opacity: .7}
