/* =====================================================
  Base Layout Styles
======================================================== */
*,
*:after,
*:before {
	box-sizing: border-box;
}
body {
	color:black;
	margin: auto;
	font: 1.125em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wrapper {
	margin: 0 auto;
	max-width: 700px;
 }
a { text-decoration:none; color:black; }
/* .error {
	width: 70%;
	padding:7px 0;
	margin:7px auto;
	text-align:center;
	background-color: yellow;
	border: 2px solid gray;
	opacity:0.5;
} */

/* ---- Float clearfix ----  */
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ---- Post ----  */
img {
    display: block;
    max-width: 100%;
    font-style: italic;
		margin: 0 auto 16px;
}

.post {
	margin: 20px 0;
	padding: 32px 0;
	border-bottom: 1px solid #E9EFF3;
}

.post:hover .post-title{
	opacity: 0.5;
}

.post-title {
	margin: 0;
	font-size: 25px;
	font-weight: 600;
	transition: .4s;
}

@media (min-width: 40em)
.post-title {
    font-size: 19px;
}

/* ---- Nav ----  */

.nav{
	padding: 16px 0;
	border-bottom: 1px solid #E9EFF3;
}
.nav a{
	display: inline-block;
	font-size: 0.9125em;
	padding: 3px;
}

/* ---- footer ----  */

.footer{
	text-align:center;
	margin: 25px 0 10px;
	padding: 5px 0;
	border-top: 1px solid #E9EFF3;
}
.footer a, .icon{
	display: inline-block;
	font-size: 0.9125em;
	padding: 5px 2px;
	margin: 0;
	vertical-align: middle;
}
.footer a:active {text-decoration: underline;}



/* =====================================================
 End Reviewed
======================================================== */



/* =====================================================
  Header File = Navigation
======================================================== */



.separate{
	color: #DDDFD6;
	display:inline-block;
	margin: 0 10px;
}

/* =====================================================
  About Page
======================================================== */
.welcome-msg{
	margin: 15px 0;
	padding: 20px 25px;
	background-color: #fafafa;
	border: 2px solid #ECF0F1;
}
.welcome-msg p{
	margin-top: 5px;
}



/* =====================================================
  Home Page
======================================================== */
.form {
	display: inline-block;
	width: 100%;
	margin: 25px 0;
}
input{
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 0;
}
input[type="text"]{
  width: 70%;
}
input[type="submit"]{
  padding: 10px 17px;
  background-color:#07a7c0;
  color: white;
}
input[type="submit"]:hover{
  cursor: pointer;
}


.tags {
	width: 24%;
	float: right;
	padding-left: 7px;
	margin: 5px 0;
	border-left: 2px solid #ECF0F1;
	border-radius: 5px;
}
.about {
	width: 24%;
	float: right;
	font-size: 0.8125em;
	padding:  12px;
	background-color: #ECF0F1;
}
.tags span {
	display: inline-block;
	background-color: #ECF0F1;
	padding: 5px 7px;
	margin: 2px 1px;
	border-radius: 2px;
}
.title {
	width: 100%;
	margin: 0 0 5px 0;
	padding: 5px;
	border-bottom: 2px black solid;

}
.post-date {
	font-size: 0.8125em;
	color: gray;
	opacity: 0.75;
	margin: 0;
}
.post-body {
	font-size: 0.9125em;
	opacity: 0.75;
	margin: 7px 0;
}

/* =====================================================
  Posts Page
======================================================== */

.view {
	width: 70%;
}
.tag-sec {
	display: inline-block;
	margin: 10px 0;
}
.tag-sec span {
	display: inline-block;
	background-color: #EEE;
	padding: 5px 7px;
	margin: 2px 1px;
	border-radius: 2px;
}
/* .post-title-view {
	font-size: 1.25em;
	margin: 10px 0;
} */
.post-body-view {
	font-size: .975em;
	margin: 10px 0;
	opacity: 0.8;
}

.post-view {
	margin: 15px 0 15px 0;
	padding: 20px 15px;
	border: 1px solid #ECF0F1;
	background-color: #fcfcfc;
	border-radius: 2px;
}
.post-date-view {
	font-size: 0.8125em;
	margin: 0;
}
.comment{
	width:100%;
	background-color:white;
	border: 1px dotted #ccc ;
	border-left: 5px solid #ccc;
	padding:10px 15px;
	margin:20px 0;
	font-size: 0.9125em;
}
.comment p{
	margin-left:25px;
}
/********************************************
Pagination
********************************************/
.pagination{width:100%; margin: 0 15px;}
.pagination ul{
	width:100%;
	list-style:none;
	padding:0;
	margin: 0 auto;
}
.pagination ul li{
	float:left;
	background-color:#fafafa;
	border: 1px solid #bbb;
}
.pagination ul li a{
	display:inline-block;
	padding: 4px 10px;
}
.pagination ul li a:hover {
	background-color: #e6e6e6;
}
/********************************************
Comment Section
********************************************/
.post-view form input{
	display: inline-block;
	margin: 7px 0;
	width: 49%;
}
.post-view form input[type="submit"]{
	display: block;
	width: 10%;
}
.post-view form textarea{
	padding: 7px;
	width: 99%;
}
